.chat {
    display: flex;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-image: url("../../images/chat-background.jpg");
    background-size: cover;
}

.message {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    box-shadow: 10px 3px #075E54;
    border-radius: 15px;
}
/* rgb(153, 240, 66) */
.chat-message {
    padding: 16px 10px;
    background: #075E54;
    border-radius: 15px;
    color: white;
    width: 50%;
}

.user-name {
    color: #22ffc0;
}

.message-align {
    position: relative;
    left: 50%;
}

.img-align {
    margin-right:0;
    margin-left: auto;
    display:block;
}

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 16px;
}

.compose textarea {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

/* .compose button {
    font-size: 14px;
}

.compose button {
    cursor: pointer;
    padding: 12px;
    background: #333744;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    margin-bottom: 8px;
} */

.control-icon {
    color: #333744;
    cursor: pointer;
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    background: #333744;
    color: white;
    margin-left: 15px;
}

.img-msg {
    width: 400px;
    height: 250px;
    object-fit: contain;
    display: block;
    margin-bottom: 16px;
}